.purple-text {
  color: #6539ec;
}

.purple-background {
  background-color: #6539ec;
}

.green-text {
  color: #8df3de;
}

.green-background {
  background-color: #8df3de;
}

.dark-color {
  background-color: #1d1b27;
}

.dark-color-lighter {
  background-color: #292638;
}

.dark-color-darker {
  background-color: #14131a;
}

.category-button {
  border: 2px solid #8df3de;
  border-radius: 20px;
  padding: 10px 13px;
  color: #8df3de;
  background-color: #292638;
  margin: 7px 2px;
}

.category-button:focus {
  background: linear-gradient(
    152deg,
    rgba(48, 60, 208, 1) 0%,
    rgba(95, 57, 233, 1) 26%,
    rgba(101, 57, 236, 1) 71%,
    rgba(48, 60, 208, 1) 100%
  );
  transform: scale(1.1);
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.new-idea-form {
  margin: 20px;
}

.new-idea-form,
h5 {
  color: white;
  font-weight: 300;
}

.submit-button {
  border: 2px solid #6539ec;
  border-radius: 20px;
  padding: 10px 13px;
  color: #6539ec;
  background: rgb(141, 243, 222);
  background-color: #8df3de;

  margin: 7px 2px;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
