.purple-text {
  color: #6539ec;
}

.purple-background {
  background-color: #6539ec;
}

.green-text {
  color: #8df3de;
}

.green-background {
  background-color: #8df3de;
}

.dark-color {
  background-color: #1d1b27;
}

.dark-color-lighter {
  background-color: #292638;
}

.dark-color-darker {
  background-color: #14131a;
}
.MuiExpansionPanelDetails-root {
  padding: 0 !important;
}

.MuiSvgIcon-root {
  color: #6539ec;
}

.category-button {
  border: 2px solid #8df3de;
  border-radius: 20px;
  padding: 10px 13px;
  color: #8df3de;
  background-color: #292638;
  margin: 7px 2px;
}

.category-button:focus {
  background: linear-gradient(
    152deg,
    rgba(48, 60, 208, 1) 0%,
    rgba(95, 57, 233, 1) 26%,
    rgba(101, 57, 236, 1) 71%,
    rgba(48, 60, 208, 1) 100%
  );
  transform: scale(1.1);
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.new-idea-form {
  margin: 20px;
}

.lower-idea-form {
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.new-idea-form,
h4 {
  color: #8df3de;
  font-weight: 700;
  font-size: 0.9em;
  margin: 50 0;
}

.submit-button {
  border: 2px solid #6539ec;
  border-radius: 20px;
  padding: 10px 13px;
  color: #6539ec;
  background: linear-gradient(
    103deg,
    rgba(101, 173, 228, 1) 3%,
    rgba(141, 243, 222, 1) 27%,
    rgba(135, 225, 237, 1) 52%,
    rgba(129, 231, 223, 1) 78%,
    rgba(101, 173, 228, 1) 100%
  );
  margin: 7px 20px;
  width: 50vw;
  text-align: center;
  font-size: 1em;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.Bertha {
  background-color: #8df3de;
  width: 50px;
  height: 120px;
  /* box-shadow: 5px 0px 10px #d3d3d3; */
}

.Carl {
  background-color: #6539ec;
  width: 50px;
  height: 120px;
  /* box-shadow: 5px 5px 10px #d1d1d1; */
}

.action-card {
  background-size: cover;
  filter: rgb(216, 209, 209);
  background-image: url('./img/car.jpg');
}

ul li {
  list-style-type: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 13px 0px;
  font-size: 2.2em;
  text-align: center;
}

li {
  position: relative;
  display: block;
  cursor: pointer;
}

li:before,
li:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  top: 50%;
  margin-top: -0.5px;
  background: rgba(141, 243, 222, 0.5);
}

li:before {
  left: -2.5px;
}
li:after {
  right: 2.5px;
  background: rgba(141, 243, 222, 0.5);
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li:hover:before {
  background: rgba(141, 243, 222, 0.5);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.action-card-speaker {
  background-size: cover;
  background-image: url('https://i.imgur.com/ljSpDFm.jpg');
}
