.purple-text {
  color: #6539ec;
}

.purple-background {
  background-color: #6539ec;
}

.green-text {
  color: #8df3de;
}

.green-background {
  background-color: #8df3de;
}

.dark-color {
  background-color: #1d1b27;
}

.dark-color-lighter {
  background-color: #292638;
}

.dark-color-darker {
  background-color: #14131a;
}

.catagory-button {
  border: 3px solid #8df3de;
  border-radius: 20px;
  padding: 10px 20px;
  color: #8df3de;
  background-color: #292638;
}

.catagory-button-active {
  border: 3px solid #8df3de;
  border-radius: 20px;
  padding: 10px 20px;
  color: #8df3de;
  background-color: #6539ec;
}

button:focus {
  outline: none;
}
